<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards" ng-controller="cardController">

    <div class="panel panel-default">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{it.data.name}}</h4>
            </div>
            <div class="list-group-item disp">
                <h4 class="list-group-item-text pd20">NAV: {{it.data.value}}</h4>
                <h4 class="list-group-item-text">{{it.data.date}}</h4>
            </div>
        </div>
    </div>
</div>